resources/wsdl/books.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://proj.gg.com/service/books" targetNamespace="http://proj.gg.com/service/books">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                   targetNamespace="http://proj.gg.com/service/books">
            <!--
           ================ BOOK RELATED METHODS ================
           -->
            <!-- ==== CRUD Book methods ==== -->
            <!--  persist a book  -->
            <xs:element name="createBookRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tokenUUID" type="xs:string"/>
                        <xs:element name="bookMin" type="tns:bookMin"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createBookResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="book" type="tns:book"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  update a book  -->
            <xs:element name="saveBookRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tokenUUID" type="xs:string"/>
                        <xs:element name="book" type="tns:book"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveBookResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="book" type="tns:book"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  get a specific book by id  -->
            <xs:element name="getBookRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getBookResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="bookFull" type="tns:bookFull"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  list all books  -->
            <xs:element name="listAllBooksRequest">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listAllBooksResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="books" type="tns:book"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  delete a book  -->
            <xs:element name="deleteBookRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tokenUUID" type="xs:string"/>
                        <xs:element name="book" type="tns:book"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteBookResponse">
                <xs:complexType></xs:complexType>
            </xs:element>
            <!-- ==== CRUD Topic methods ==== -->
            <!--  persist a topic  -->
            <xs:element name="createTopicRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tokenUUID" type="xs:string"/>
                        <xs:element name="topicName" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createTopicResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="topic" type="tns:topic"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  update a topic  -->
            <xs:element name="saveTopicRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tokenUUID" type="xs:string"/>
                        <xs:element name="topic" type="tns:topic"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveTopicResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="topic" type="tns:topic"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  get topic by id  -->
            <xs:element name="getTopicRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTopicResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="topic" type="tns:topic"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  list all topics -->
            <xs:element name="listAllTopicsRequest">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listAllTopicsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="topics" type="tns:topic"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  delete a topic  -->
            <xs:element name="deleteTopicRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tokenUUID" type="xs:string"/>
                        <xs:element name="topic" type="tns:topic"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteTopicResponse">
                <xs:complexType></xs:complexType>
            </xs:element>
            <!-- ==== CRUD Library methods ==== -->
            <!--  persist a library  -->
            <xs:element name="createLibraryRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tokenUUID" type="xs:string"/>
                        <xs:element name="libraryMin" type="tns:libraryMin"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createLibraryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="library" type="tns:library"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  update a library  -->
            <xs:element name="saveLibraryRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tokenUUID" type="xs:string"/>
                        <xs:element name="library" type="tns:library"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveLibraryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="library" type="tns:library"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  get library by id  -->
            <xs:element name="getLibraryRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLibraryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="library" type="tns:library"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  list all libraries  -->
            <xs:element name="listAllLibrariesRequest">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listAllLibrariesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="libraries" type="tns:library"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  delete a library  -->
            <xs:element name="deleteLibraryRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tokenUUID" type="xs:string"/>
                        <xs:element name="library" type="tns:library"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteLibraryResponse">
                <xs:complexType></xs:complexType>
            </xs:element>
            <!-- ==== CRUD Language methods ==== -->
            <!--  persist a language  -->
            <xs:element name="createLanguageRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tokenUUID" type="xs:string"/>
                        <xs:element name="languageName" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createLanguageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="language" type="tns:language"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  update a language  -->
            <xs:element name="saveLanguageRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tokenUUID" type="xs:string"/>
                        <xs:element name="language" type="tns:language"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveLanguageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="language" type="tns:language"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  get language by id  -->
            <xs:element name="getLanguageRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLanguageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="language" type="tns:language"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  list all languages -->
            <xs:element name="listAllLanguagesRequest">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listAllLanguagesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="languages" type="tns:language"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  delete a language  -->
            <xs:element name="deleteLanguageRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tokenUUID" type="xs:string"/>
                        <xs:element name="language" type="tns:language"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteLanguageResponse">
                <xs:complexType></xs:complexType>
            </xs:element>
            <!-- ==== End of CRUD ==== -->
            <!--  this is filterBooks method  -->
            <!--
            you request page, size, keyword, it return a book list plus a lot of infos to performs a filtered filterBooks
           -->
            <xs:element name="searchBooksRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="page" type="xs:int"/>
                        <xs:element name="size" type="xs:int"/>
                        <xs:element name="keyWord" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="searchBooksResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="totalPages" type="xs:int"/>
                        <xs:element maxOccurs="unbounded" name="books" type="tns:book"/>
                        <!--
                        this filterBooks returns those 3 list in order to fill combo-lists for the filtered filterBooks
                       -->
                        <xs:element maxOccurs="unbounded" name="libraries" type="tns:library"/>
                        <xs:element maxOccurs="unbounded" name="topics" type="tns:topic"/>
                        <xs:element maxOccurs="unbounded" name="languages" type="tns:language"/>
                        <!--  then we pass back the keyWord  -->
                        <xs:element name="keyWord" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--
            Once a filterBooks has been performed, web service client can ask for a filterBooks by passing various params
           -->
            <xs:element name="filterBooksRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="page" type="xs:int"/>
                        <xs:element name="size" type="xs:int"/>
                        <xs:element minOccurs="0" name="keyWord" type="xs:string"/>
                        <!--  params coming from combobox -->
                        <xs:element minOccurs="0" name="libraryId" type="xs:int"/>
                        <xs:element minOccurs="0" name="topicId" type="xs:int"/>
                        <xs:element minOccurs="0" name="languageId" type="xs:int"/>
                        <!--  is the book available  -->
                        <xs:element name="available" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="filterBooksResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="totalPages" type="xs:int"/>
                        <xs:element maxOccurs="unbounded" name="books" type="tns:book"/>
                        <!--
                        this filterBooks could return the library, topic and language for the webapp to display filterBooks terms
                       -->
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!-- ================ OBJECTS ================ -->
            <!--  a single book  -->
            <xs:complexType name="book">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="title" type="xs:string"/>
                    <xs:element name="author" type="xs:string"/>
                    <xs:element minOccurs="0" name="isbn" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" name="topicIds" type="xs:int"/>
                    <xs:element name="languageId" type="xs:int"/>
                    <xs:element name="quantity" type="xs:int"/>
                    <xs:element name="publicationDate" type="xs:date"/>
                    <xs:element name="libraryId" type="xs:int"/>
                    <xs:element minOccurs="0" name="summary" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <!--  a full book  -->
            <xs:complexType name="bookFull">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element name="title" type="xs:string"/>
                    <xs:element name="author" type="xs:string"/>
                    <xs:element minOccurs="0" name="isbn" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" name="topics" type="tns:topic"/>
                    <xs:element name="language" type="tns:language"/>
                    <xs:element name="quantity" type="xs:int"/>
                    <xs:element name="publicationDate" type="xs:date"/>
                    <xs:element name="library" type="tns:library"/>
                    <xs:element minOccurs="0" name="summary" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <!--  a minimal book  -->
            <xs:complexType name="bookMin">
                <xs:sequence>
                    <xs:element name="title" type="xs:string"/>
                    <xs:element name="author" type="xs:string"/>
                    <xs:element minOccurs="0" name="isbn" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" name="topicIds" type="xs:int"/>
                    <xs:element name="languageId" type="xs:int"/>
                    <xs:element name="quantity" type="xs:int"/>
                    <xs:element name="publicationDate" type="xs:date"/>
                    <xs:element name="libraryId" type="xs:int"/>
                    <xs:element minOccurs="0" name="summary" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <!--  a library  -->
            <xs:complexType name="library">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="city" type="xs:string"/>
                    <xs:element name="postalCode" type="xs:int"/>
                    <xs:element name="address" type="xs:string"/>
                    <xs:element name="phoneNumber" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <!--  a library without id  -->
            <xs:complexType name="libraryMin">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="city" type="xs:string"/>
                    <xs:element name="postalCode" type="xs:int"/>
                    <xs:element name="address" type="xs:string"/>
                    <xs:element name="phoneNumber" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <!--  a topic  -->
            <xs:complexType name="topic">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <!--  a language  -->
            <xs:complexType name="language">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <!-- ================ SERVICE STATUS ================ -->
            <xs:complexType name="serviceStatus">
                <xs:sequence>
                    <xs:element name="statusCode" type="xs:string"/>
                    <xs:element name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="filterBooksRequest">
        <wsdl:part element="tns:filterBooksRequest" name="filterBooksRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteLanguageRequest">
        <wsdl:part element="tns:deleteLanguageRequest" name="deleteLanguageRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listAllBooksResponse">
        <wsdl:part element="tns:listAllBooksResponse" name="listAllBooksResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="saveLanguageResponse">
        <wsdl:part element="tns:saveLanguageResponse" name="saveLanguageResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listAllLanguagesRequest">
        <wsdl:part element="tns:listAllLanguagesRequest" name="listAllLanguagesRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="saveTopicRequest">
        <wsdl:part element="tns:saveTopicRequest" name="saveTopicRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteTopicRequest">
        <wsdl:part element="tns:deleteTopicRequest" name="deleteTopicRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getLanguageRequest">
        <wsdl:part element="tns:getLanguageRequest" name="getLanguageRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createLibraryResponse">
        <wsdl:part element="tns:createLibraryResponse" name="createLibraryResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getBookResponse">
        <wsdl:part element="tns:getBookResponse" name="getBookResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="saveTopicResponse">
        <wsdl:part element="tns:saveTopicResponse" name="saveTopicResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTopicResponse">
        <wsdl:part element="tns:getTopicResponse" name="getTopicResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createTopicResponse">
        <wsdl:part element="tns:createTopicResponse" name="createTopicResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTopicRequest">
        <wsdl:part element="tns:getTopicRequest" name="getTopicRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getBookRequest">
        <wsdl:part element="tns:getBookRequest" name="getBookRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="filterBooksResponse">
        <wsdl:part element="tns:filterBooksResponse" name="filterBooksResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="saveBookResponse">
        <wsdl:part element="tns:saveBookResponse" name="saveBookResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteBookRequest">
        <wsdl:part element="tns:deleteBookRequest" name="deleteBookRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listAllLibrariesRequest">
        <wsdl:part element="tns:listAllLibrariesRequest" name="listAllLibrariesRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createTopicRequest">
        <wsdl:part element="tns:createTopicRequest" name="createTopicRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createBookResponse">
        <wsdl:part element="tns:createBookResponse" name="createBookResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listAllBooksRequest">
        <wsdl:part element="tns:listAllBooksRequest" name="listAllBooksRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createLibraryRequest">
        <wsdl:part element="tns:createLibraryRequest" name="createLibraryRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createLanguageRequest">
        <wsdl:part element="tns:createLanguageRequest" name="createLanguageRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getLibraryRequest">
        <wsdl:part element="tns:getLibraryRequest" name="getLibraryRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="saveLanguageRequest">
        <wsdl:part element="tns:saveLanguageRequest" name="saveLanguageRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listAllTopicsRequest">
        <wsdl:part element="tns:listAllTopicsRequest" name="listAllTopicsRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteLibraryRequest">
        <wsdl:part element="tns:deleteLibraryRequest" name="deleteLibraryRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteLibraryResponse">
        <wsdl:part element="tns:deleteLibraryResponse" name="deleteLibraryResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listAllLanguagesResponse">
        <wsdl:part element="tns:listAllLanguagesResponse" name="listAllLanguagesResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteTopicResponse">
        <wsdl:part element="tns:deleteTopicResponse" name="deleteTopicResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createBookRequest">
        <wsdl:part element="tns:createBookRequest" name="createBookRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="saveBookRequest">
        <wsdl:part element="tns:saveBookRequest" name="saveBookRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteLanguageResponse">
        <wsdl:part element="tns:deleteLanguageResponse" name="deleteLanguageResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="saveLibraryRequest">
        <wsdl:part element="tns:saveLibraryRequest" name="saveLibraryRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listAllLibrariesResponse">
        <wsdl:part element="tns:listAllLibrariesResponse" name="listAllLibrariesResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="searchBooksResponse">
        <wsdl:part element="tns:searchBooksResponse" name="searchBooksResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteBookResponse">
        <wsdl:part element="tns:deleteBookResponse" name="deleteBookResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="searchBooksRequest">
        <wsdl:part element="tns:searchBooksRequest" name="searchBooksRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listAllTopicsResponse">
        <wsdl:part element="tns:listAllTopicsResponse" name="listAllTopicsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getLibraryResponse">
        <wsdl:part element="tns:getLibraryResponse" name="getLibraryResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createLanguageResponse">
        <wsdl:part element="tns:createLanguageResponse" name="createLanguageResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="saveLibraryResponse">
        <wsdl:part element="tns:saveLibraryResponse" name="saveLibraryResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getLanguageResponse">
        <wsdl:part element="tns:getLanguageResponse" name="getLanguageResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="BookPort">
        <wsdl:operation name="filterBooks">
            <wsdl:input message="tns:filterBooksRequest" name="filterBooksRequest"></wsdl:input>
            <wsdl:output message="tns:filterBooksResponse" name="filterBooksResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteLanguage">
            <wsdl:input message="tns:deleteLanguageRequest" name="deleteLanguageRequest"></wsdl:input>
            <wsdl:output message="tns:deleteLanguageResponse" name="deleteLanguageResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listAllBooks">
            <wsdl:input message="tns:listAllBooksRequest" name="listAllBooksRequest"></wsdl:input>
            <wsdl:output message="tns:listAllBooksResponse" name="listAllBooksResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveLanguage">
            <wsdl:input message="tns:saveLanguageRequest" name="saveLanguageRequest"></wsdl:input>
            <wsdl:output message="tns:saveLanguageResponse" name="saveLanguageResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listAllLanguages">
            <wsdl:input message="tns:listAllLanguagesRequest" name="listAllLanguagesRequest"></wsdl:input>
            <wsdl:output message="tns:listAllLanguagesResponse" name="listAllLanguagesResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveTopic">
            <wsdl:input message="tns:saveTopicRequest" name="saveTopicRequest"></wsdl:input>
            <wsdl:output message="tns:saveTopicResponse" name="saveTopicResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteTopic">
            <wsdl:input message="tns:deleteTopicRequest" name="deleteTopicRequest"></wsdl:input>
            <wsdl:output message="tns:deleteTopicResponse" name="deleteTopicResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLanguage">
            <wsdl:input message="tns:getLanguageRequest" name="getLanguageRequest"></wsdl:input>
            <wsdl:output message="tns:getLanguageResponse" name="getLanguageResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createLibrary">
            <wsdl:input message="tns:createLibraryRequest" name="createLibraryRequest"></wsdl:input>
            <wsdl:output message="tns:createLibraryResponse" name="createLibraryResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBook">
            <wsdl:input message="tns:getBookRequest" name="getBookRequest"></wsdl:input>
            <wsdl:output message="tns:getBookResponse" name="getBookResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTopic">
            <wsdl:input message="tns:getTopicRequest" name="getTopicRequest"></wsdl:input>
            <wsdl:output message="tns:getTopicResponse" name="getTopicResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createTopic">
            <wsdl:input message="tns:createTopicRequest" name="createTopicRequest"></wsdl:input>
            <wsdl:output message="tns:createTopicResponse" name="createTopicResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveBook">
            <wsdl:input message="tns:saveBookRequest" name="saveBookRequest"></wsdl:input>
            <wsdl:output message="tns:saveBookResponse" name="saveBookResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteBook">
            <wsdl:input message="tns:deleteBookRequest" name="deleteBookRequest"></wsdl:input>
            <wsdl:output message="tns:deleteBookResponse" name="deleteBookResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listAllLibraries">
            <wsdl:input message="tns:listAllLibrariesRequest" name="listAllLibrariesRequest"></wsdl:input>
            <wsdl:output message="tns:listAllLibrariesResponse" name="listAllLibrariesResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createBook">
            <wsdl:input message="tns:createBookRequest" name="createBookRequest"></wsdl:input>
            <wsdl:output message="tns:createBookResponse" name="createBookResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createLanguage">
            <wsdl:input message="tns:createLanguageRequest" name="createLanguageRequest"></wsdl:input>
            <wsdl:output message="tns:createLanguageResponse" name="createLanguageResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLibrary">
            <wsdl:input message="tns:getLibraryRequest" name="getLibraryRequest"></wsdl:input>
            <wsdl:output message="tns:getLibraryResponse" name="getLibraryResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listAllTopics">
            <wsdl:input message="tns:listAllTopicsRequest" name="listAllTopicsRequest"></wsdl:input>
            <wsdl:output message="tns:listAllTopicsResponse" name="listAllTopicsResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteLibrary">
            <wsdl:input message="tns:deleteLibraryRequest" name="deleteLibraryRequest"></wsdl:input>
            <wsdl:output message="tns:deleteLibraryResponse" name="deleteLibraryResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveLibrary">
            <wsdl:input message="tns:saveLibraryRequest" name="saveLibraryRequest"></wsdl:input>
            <wsdl:output message="tns:saveLibraryResponse" name="saveLibraryResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchBooks">
            <wsdl:input message="tns:searchBooksRequest" name="searchBooksRequest"></wsdl:input>
            <wsdl:output message="tns:searchBooksResponse" name="searchBooksResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BookPortSoap11" type="tns:BookPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="filterBooks">
            <soap:operation soapAction=""/>
            <wsdl:input name="filterBooksRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="filterBooksResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteLanguage">
            <soap:operation soapAction=""/>
            <wsdl:input name="deleteLanguageRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteLanguageResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listAllBooks">
            <soap:operation soapAction=""/>
            <wsdl:input name="listAllBooksRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listAllBooksResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveLanguage">
            <soap:operation soapAction=""/>
            <wsdl:input name="saveLanguageRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="saveLanguageResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listAllLanguages">
            <soap:operation soapAction=""/>
            <wsdl:input name="listAllLanguagesRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listAllLanguagesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveTopic">
            <soap:operation soapAction=""/>
            <wsdl:input name="saveTopicRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="saveTopicResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteTopic">
            <soap:operation soapAction=""/>
            <wsdl:input name="deleteTopicRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteTopicResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLanguage">
            <soap:operation soapAction=""/>
            <wsdl:input name="getLanguageRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getLanguageResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createLibrary">
            <soap:operation soapAction=""/>
            <wsdl:input name="createLibraryRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createLibraryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBook">
            <soap:operation soapAction=""/>
            <wsdl:input name="getBookRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getBookResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTopic">
            <soap:operation soapAction=""/>
            <wsdl:input name="getTopicRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getTopicResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createTopic">
            <soap:operation soapAction=""/>
            <wsdl:input name="createTopicRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createTopicResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveBook">
            <soap:operation soapAction=""/>
            <wsdl:input name="saveBookRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="saveBookResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteBook">
            <soap:operation soapAction=""/>
            <wsdl:input name="deleteBookRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteBookResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listAllLibraries">
            <soap:operation soapAction=""/>
            <wsdl:input name="listAllLibrariesRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listAllLibrariesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createBook">
            <soap:operation soapAction=""/>
            <wsdl:input name="createBookRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createBookResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createLanguage">
            <soap:operation soapAction=""/>
            <wsdl:input name="createLanguageRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createLanguageResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLibrary">
            <soap:operation soapAction=""/>
            <wsdl:input name="getLibraryRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getLibraryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listAllTopics">
            <soap:operation soapAction=""/>
            <wsdl:input name="listAllTopicsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listAllTopicsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteLibrary">
            <soap:operation soapAction=""/>
            <wsdl:input name="deleteLibraryRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteLibraryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveLibrary">
            <soap:operation soapAction=""/>
            <wsdl:input name="saveLibraryRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="saveLibraryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchBooks">
            <soap:operation soapAction=""/>
            <wsdl:input name="searchBooksRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="searchBooksResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BookPortService">
        <wsdl:port binding="tns:BookPortSoap11" name="BookPortSoap11">
            <soap:address location="http://localhost:8080/library-service/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>