resources/wsdl/bookings.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://proj.gg.com/service/bookings" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://proj.gg.com/service/bookings" targetNamespace="http://proj.gg.com/service/bookings">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://proj.gg.com/service/bookings">
            <!--
            ================ BOOKING RELATED METHODS ================
            -->
            <!--  a method to perform a booking action  -->
            <xs:element name="performBookingRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tokenUUID" type="xs:string"/>
                        <xs:element name="bookingMin" type="tns:bookingMin"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="performBookingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="bookingSummary" type="tns:bookingSummary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  a method to cancel a booking  -->
            <xs:element name="cancelBookingRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tokenUUID" type="xs:string"/>
                        <xs:element name="booking" type="tns:booking"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="cancelBookingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="confirmationCode" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--
             call it if you need the list of booking related to a user
            -->
            <xs:element name="getBookingListByUserIdRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tokenUUID" type="xs:string"/>
                        <xs:element name="userId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getBookingListByUserIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="bookingsInfo" type="tns:bookingInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPlaceInQueueByBookingRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tokenUUID" type="xs:string"/>
                        <xs:element name="userId" type="xs:int"/>
                        <xs:element name="bookId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPlaceInQueueByBookingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="placeInQueue" type="tns:placeInQueue"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!-- ================ OBJECTS ================ -->
            <!--
             an object that contains the position in queue and the nearest return date
            -->
            <xs:complexType name="placeInQueue">
                <xs:sequence>
                    <xs:element name="positionInQueue" type="xs:int"/>
                    <xs:element minOccurs="0" name="nearestReturnDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <!--  booking, a minimalist bean  -->
            <xs:complexType name="bookingMin">
                <xs:sequence>
                    <xs:element name="userId" type="xs:int"/>
                    <xs:element name="bookId" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="booking">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="userId" type="xs:int"/>
                    <xs:element name="bookId" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="bookingSummary">
                <xs:sequence>
                    <xs:element name="booking" type="tns:booking"/>
                    <xs:element name="positionInQueue" type="xs:int"/>
                    <xs:element minOccurs="0" name="nearestReturnDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="bookingInfo">
                <xs:sequence>
                    <xs:element name="booking" type="tns:booking"/>
                    <xs:element name="bookMin" type="tns:bookMin"/>
                    <xs:element name="positionInQueue" type="xs:int"/>
                    <xs:element minOccurs="0" name="nearestReturnDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <!--  a minimal book  -->
            <xs:complexType name="bookMin">
                <xs:sequence>
                    <xs:element name="title" type="xs:string"/>
                    <xs:element name="author" type="xs:string"/>
                    <xs:element minOccurs="0" name="isbn" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" name="topicIds" type="xs:int"/>
                    <xs:element name="languageId" type="xs:int"/>
                    <xs:element name="quantity" type="xs:int"/>
                    <xs:element name="publicationDate" type="xs:date"/>
                    <xs:element name="libraryId" type="xs:int"/>
                    <xs:element minOccurs="0" name="summary" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <!-- ================ SERVICE STATUS ================ -->
            <xs:complexType name="serviceStatus">
                <xs:sequence>
                    <xs:element name="statusCode" type="xs:string"/>
                    <xs:element name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="performBookingResponse">
        <wsdl:part element="tns:performBookingResponse" name="performBookingResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="performBookingRequest">
        <wsdl:part element="tns:performBookingRequest" name="performBookingRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="cancelBookingResponse">
        <wsdl:part element="tns:cancelBookingResponse" name="cancelBookingResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getBookingListByUserIdRequest">
        <wsdl:part element="tns:getBookingListByUserIdRequest" name="getBookingListByUserIdRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getBookingListByUserIdResponse">
        <wsdl:part element="tns:getBookingListByUserIdResponse" name="getBookingListByUserIdResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPlaceInQueueByBookingResponse">
        <wsdl:part element="tns:getPlaceInQueueByBookingResponse" name="getPlaceInQueueByBookingResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPlaceInQueueByBookingRequest">
        <wsdl:part element="tns:getPlaceInQueueByBookingRequest" name="getPlaceInQueueByBookingRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="cancelBookingRequest">
        <wsdl:part element="tns:cancelBookingRequest" name="cancelBookingRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="BookingPort">
        <wsdl:operation name="performBooking">
            <wsdl:input message="tns:performBookingRequest" name="performBookingRequest"> </wsdl:input>
            <wsdl:output message="tns:performBookingResponse" name="performBookingResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cancelBooking">
            <wsdl:input message="tns:cancelBookingRequest" name="cancelBookingRequest"> </wsdl:input>
            <wsdl:output message="tns:cancelBookingResponse" name="cancelBookingResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBookingListByUserId">
            <wsdl:input message="tns:getBookingListByUserIdRequest" name="getBookingListByUserIdRequest"> </wsdl:input>
            <wsdl:output message="tns:getBookingListByUserIdResponse" name="getBookingListByUserIdResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPlaceInQueueByBooking">
            <wsdl:input message="tns:getPlaceInQueueByBookingRequest" name="getPlaceInQueueByBookingRequest"> </wsdl:input>
            <wsdl:output message="tns:getPlaceInQueueByBookingResponse" name="getPlaceInQueueByBookingResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BookingPortSoap11" type="tns:BookingPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="performBooking">
            <soap:operation soapAction=""/>
            <wsdl:input name="performBookingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="performBookingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cancelBooking">
            <soap:operation soapAction=""/>
            <wsdl:input name="cancelBookingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="cancelBookingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBookingListByUserId">
            <soap:operation soapAction=""/>
            <wsdl:input name="getBookingListByUserIdRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getBookingListByUserIdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPlaceInQueueByBooking">
            <soap:operation soapAction=""/>
            <wsdl:input name="getPlaceInQueueByBookingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPlaceInQueueByBookingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BookingPortService">
        <wsdl:port binding="tns:BookingPortSoap11" name="BookingPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>