resources/wsdl/loans.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://proj.gg.com/service/loans" targetNamespace="http://proj.gg.com/service/loans">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                   targetNamespace="http://proj.gg.com/service/loans">
            <!--
           ================ LOAN RELATED METHODS ================
           -->
            <!-- ==== CRUD Loan methods ==== -->
            <!--  persist a loan  -->
            <xs:element name="createLoanRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tokenUUID" type="xs:string"/>
                        <xs:element name="loanMin" type="tns:loanMin"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createLoanResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="loan" type="tns:loan"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  update a loan -->
            <xs:element name="saveLoanRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tokenUUID" type="xs:string"/>
                        <xs:element name="loan" type="tns:loan"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveLoanResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="loan" type="tns:loan"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  extended a loan  -->
            <xs:element name="extendLoanRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tokenUUID" type="xs:string"/>
                        <xs:element name="loan" type="tns:loan"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="extendLoanResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="loan" type="tns:loan"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  close a loan  -->
            <xs:element name="closeLoanRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tokenUUID" type="xs:string"/>
                        <xs:element name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="closeLoanResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="loan" type="tns:loan"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  get a specific book by id  -->
            <xs:element name="getLoanRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tokenUUID" type="xs:string"/>
                        <xs:element name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLoanResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="loan" type="tns:loan"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  list all loans  -->
            <xs:element name="listAllLoansRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tokenUUID" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listAllLoansResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="loans" type="tns:loan"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  delete a loan  -->
            <xs:element name="deleteLoanRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tokenUUID" type="xs:string"/>
                        <xs:element name="loan" type="tns:loan"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteLoanResponse">
                <xs:complexType></xs:complexType>
            </xs:element>
            <!--  find all loans for a certain user  -->
            <xs:element name="findAllLoansByUserIdRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tokenUUID" type="xs:string"/>
                        <xs:element name="userId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findAllLoansByUserIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="loansDetailed" type="tns:loanDetailed"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!-- ================ OBJECTS ================ -->
            <!--  a loan with no Id, for creating purpose  -->
            <xs:complexType name="loanMin">
                <xs:sequence>
                    <xs:element name="userId" type="xs:int"/>
                    <xs:element name="bookId" type="xs:int"/>
                    <xs:element minOccurs="0" name="loanStartDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="loanEndDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <!--  a loan with all information  -->
            <xs:complexType name="loan">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="userId" type="xs:int"/>
                    <xs:element name="bookId" type="xs:int"/>
                    <xs:element minOccurs="0" name="loanStartDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="loanEndDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="extended" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="closed" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <!--  a loan with all information plus a book attached  -->
            <xs:complexType name="loanDetailed">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="userId" type="xs:int"/>
                    <xs:element name="book" type="tns:book"/>
                    <xs:element minOccurs="0" name="loanStartDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="loanEndDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="extended" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="closed" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <!--  a minimalist book  -->
            <xs:complexType name="book">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="title" type="xs:string"/>
                    <xs:element name="author" type="xs:string"/>
                    <xs:element minOccurs="0" name="isbn" type="xs:string"/>
                    <xs:element name="quantity" type="xs:int"/>
                    <xs:element name="publicationDate" type="xs:date"/>
                    <xs:element name="libraryId" type="xs:int"/>
                    <xs:element minOccurs="0" name="summary" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="saveLoanResponse">
        <wsdl:part element="tns:saveLoanResponse" name="saveLoanResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listAllLoansResponse">
        <wsdl:part element="tns:listAllLoansResponse" name="listAllLoansResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findAllLoansByUserIdRequest">
        <wsdl:part element="tns:findAllLoansByUserIdRequest" name="findAllLoansByUserIdRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteLoanResponse">
        <wsdl:part element="tns:deleteLoanResponse" name="deleteLoanResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="extendLoanResponse">
        <wsdl:part element="tns:extendLoanResponse" name="extendLoanResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="closeLoanRequest">
        <wsdl:part element="tns:closeLoanRequest" name="closeLoanRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="closeLoanResponse">
        <wsdl:part element="tns:closeLoanResponse" name="closeLoanResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createLoanResponse">
        <wsdl:part element="tns:createLoanResponse" name="createLoanResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getLoanRequest">
        <wsdl:part element="tns:getLoanRequest" name="getLoanRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createLoanRequest">
        <wsdl:part element="tns:createLoanRequest" name="createLoanRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="saveLoanRequest">
        <wsdl:part element="tns:saveLoanRequest" name="saveLoanRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteLoanRequest">
        <wsdl:part element="tns:deleteLoanRequest" name="deleteLoanRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="extendLoanRequest">
        <wsdl:part element="tns:extendLoanRequest" name="extendLoanRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listAllLoansRequest">
        <wsdl:part element="tns:listAllLoansRequest" name="listAllLoansRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getLoanResponse">
        <wsdl:part element="tns:getLoanResponse" name="getLoanResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findAllLoansByUserIdResponse">
        <wsdl:part element="tns:findAllLoansByUserIdResponse" name="findAllLoansByUserIdResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="LoanPort">
        <wsdl:operation name="saveLoan">
            <wsdl:input message="tns:saveLoanRequest" name="saveLoanRequest"></wsdl:input>
            <wsdl:output message="tns:saveLoanResponse" name="saveLoanResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listAllLoans">
            <wsdl:input message="tns:listAllLoansRequest" name="listAllLoansRequest"></wsdl:input>
            <wsdl:output message="tns:listAllLoansResponse" name="listAllLoansResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findAllLoansByUserId">
            <wsdl:input message="tns:findAllLoansByUserIdRequest" name="findAllLoansByUserIdRequest"></wsdl:input>
            <wsdl:output message="tns:findAllLoansByUserIdResponse" name="findAllLoansByUserIdResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteLoan">
            <wsdl:input message="tns:deleteLoanRequest" name="deleteLoanRequest"></wsdl:input>
            <wsdl:output message="tns:deleteLoanResponse" name="deleteLoanResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="extendLoan">
            <wsdl:input message="tns:extendLoanRequest" name="extendLoanRequest"></wsdl:input>
            <wsdl:output message="tns:extendLoanResponse" name="extendLoanResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="closeLoan">
            <wsdl:input message="tns:closeLoanRequest" name="closeLoanRequest"></wsdl:input>
            <wsdl:output message="tns:closeLoanResponse" name="closeLoanResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createLoan">
            <wsdl:input message="tns:createLoanRequest" name="createLoanRequest"></wsdl:input>
            <wsdl:output message="tns:createLoanResponse" name="createLoanResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLoan">
            <wsdl:input message="tns:getLoanRequest" name="getLoanRequest"></wsdl:input>
            <wsdl:output message="tns:getLoanResponse" name="getLoanResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LoanPortSoap11" type="tns:LoanPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="saveLoan">
            <soap:operation soapAction=""/>
            <wsdl:input name="saveLoanRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="saveLoanResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listAllLoans">
            <soap:operation soapAction=""/>
            <wsdl:input name="listAllLoansRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="listAllLoansResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findAllLoansByUserId">
            <soap:operation soapAction=""/>
            <wsdl:input name="findAllLoansByUserIdRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findAllLoansByUserIdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteLoan">
            <soap:operation soapAction=""/>
            <wsdl:input name="deleteLoanRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteLoanResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="extendLoan">
            <soap:operation soapAction=""/>
            <wsdl:input name="extendLoanRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="extendLoanResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="closeLoan">
            <soap:operation soapAction=""/>
            <wsdl:input name="closeLoanRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="closeLoanResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createLoan">
            <soap:operation soapAction=""/>
            <wsdl:input name="createLoanRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createLoanResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getLoan">
            <soap:operation soapAction=""/>
            <wsdl:input name="getLoanRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getLoanResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LoanPortService">
        <wsdl:port binding="tns:LoanPortSoap11" name="LoanPortSoap11">
            <soap:address location="http://localhost:8080/library-service/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>