resources/wsdl/users.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://proj.gg.com/service/users" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://proj.gg.com/service/users" targetNamespace="http://proj.gg.com/service/users">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://proj.gg.com/service/users">
            <!--
            ================ USER RELATED METHODS ================
            -->
            <!--  login user  -->
            <xs:element name="loginUserRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="pseudo" type="xs:string"/>
                        <xs:element name="password" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loginUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="tns:token"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  logout  -->
            <xs:element name="logoutUserRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tokenUUID" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="logoutUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="logoutStatus" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  register a user  -->
            <xs:element name="registerUserRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="user" type="tns:user"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="registerUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="token" type="tns:token"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  change the password  -->
            <xs:element name="changePasswordRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="oldPassword" type="xs:string"/>
                        <xs:element name="newPassword" type="xs:string"/>
                        <xs:element name="userId" type="xs:int"/>
                        <xs:element name="tokenUUID" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changePasswordResponse">
                <xs:complexType>
                    <xs:sequence> </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!-- ================ OBJECTS ================ -->
            <!--  a user  -->
            <xs:complexType name="user">
                <xs:sequence>
                    <xs:element name="address" type="xs:string"/>
                    <xs:element name="city" type="xs:string"/>
                    <xs:element name="firstName" type="xs:string"/>
                    <xs:element name="lastName" type="xs:string"/>
                    <xs:element name="mailAddress" type="xs:string"/>
                    <xs:element name="phoneNumber" type="xs:string"/>
                    <xs:element name="postalCode" type="xs:int"/>
                    <xs:element name="pseudo" type="xs:string"/>
                    <xs:element name="lastConnection" type="xs:date"/>
                    <xs:element name="registerDate" type="xs:date"/>
                    <xs:element name="password" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <!--  a token  -->
            <xs:complexType name="token">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="tokenUUID" type="xs:string"/>
                    <xs:element name="expirationDate" type="xs:date"/>
                    <xs:element name="userId" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="logoutUserResponse">
        <wsdl:part element="tns:logoutUserResponse" name="logoutUserResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="logoutUserRequest">
        <wsdl:part element="tns:logoutUserRequest" name="logoutUserRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="loginUserRequest">
        <wsdl:part element="tns:loginUserRequest" name="loginUserRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="registerUserResponse">
        <wsdl:part element="tns:registerUserResponse" name="registerUserResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="changePasswordRequest">
        <wsdl:part element="tns:changePasswordRequest" name="changePasswordRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="registerUserRequest">
        <wsdl:part element="tns:registerUserRequest" name="registerUserRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="changePasswordResponse">
        <wsdl:part element="tns:changePasswordResponse" name="changePasswordResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="loginUserResponse">
        <wsdl:part element="tns:loginUserResponse" name="loginUserResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="UserPort">
        <wsdl:operation name="logoutUser">
            <wsdl:input message="tns:logoutUserRequest" name="logoutUserRequest"> </wsdl:input>
            <wsdl:output message="tns:logoutUserResponse" name="logoutUserResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="loginUser">
            <wsdl:input message="tns:loginUserRequest" name="loginUserRequest"> </wsdl:input>
            <wsdl:output message="tns:loginUserResponse" name="loginUserResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="registerUser">
            <wsdl:input message="tns:registerUserRequest" name="registerUserRequest"> </wsdl:input>
            <wsdl:output message="tns:registerUserResponse" name="registerUserResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changePassword">
            <wsdl:input message="tns:changePasswordRequest" name="changePasswordRequest"> </wsdl:input>
            <wsdl:output message="tns:changePasswordResponse" name="changePasswordResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UserPortSoap11" type="tns:UserPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="logoutUser">
            <soap:operation soapAction=""/>
            <wsdl:input name="logoutUserRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="logoutUserResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="loginUser">
            <soap:operation soapAction=""/>
            <wsdl:input name="loginUserRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="loginUserResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="registerUser">
            <soap:operation soapAction=""/>
            <wsdl:input name="registerUserRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="registerUserResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changePassword">
            <soap:operation soapAction=""/>
            <wsdl:input name="changePasswordRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="changePasswordResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UserPortService">
        <wsdl:port binding="tns:UserPortSoap11" name="UserPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>